{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "indent": [
      "error",
      2,
      { "SwitchCase": 1 }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "no-fallthrough": 0,
    "quotes": [
      "error",
      "single"
    ],
    "valid-jsdoc": [
      "error"
    ],
    "semi": [
      "error",
      "always"
    ]
  }
}
